@import url("https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans:300,400|Roboto+Slab|Roboto:400i");
html {
  background-image: linear-gradient(to right, #ABC, white 8%, #ABC 500%); }

body {
  width: 80%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  font: 12pt "Roboto Slab", sans-serif;
  color: black;
  text-align: left;
  padding: 5px;
  padding-bottom: 3em; }

body > h1 > img {
  vertical-align: top;
  height: 35px;
  margin-right: 10px; }

table {
  font-size: 12pt; }

hr {
  display: none; }

em {
  font-family: 'Roboto', serif; }

.navbar {
  border-bottom: 1px solid #556a90;
  color: #556a90; }
  .navbar .pre {
    float: left;
    width: 48%; }
  .navbar .post {
    float: right; }
  .navbar a {
    color: #556a90; }
  .navbar a:hover {
    text-decoration: none;
    color: #d1371f; }

*:target, :target {
  background: rgba(74, 166, 157, 0.3);
  box-shadow: 0 0 2px 2px rgba(74, 166, 157, 0.3), 0 0 10px 1px #d1371f; }

.keyword, .kw {
  color: #3d547f;
  font-weight: bold;
  font-family: 'Fira Mono', monospace; }

[id^=VAL] {
  color: #32716b;
  font-weight: bold; }
  [id^=VAL] .keyword {
    color: #3d547f87;
    font-size: 12pt; }

.keywordsign {
  color: #C04600; }

.comment {
  color: #3a837c; }

.constructor {
  color: black; }

.string, .st {
  color: Maroon; }

.warning {
  color: #d1371f;
  font-weight: bold; }

.info.top {
  width: 100%;
  margin-left: 0;
  padding-left: 0%;
  border-bottom: 1px solid #e29e7e;
  padding-bottom: 1ex; }

.info {
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 14pt; }

td {
  vertical-align: top; }
  td .info {
    margin-bottom: 0; }

td:first-child {
  /* width: 16em;*/ }

.param_info {
  margin-top: 4px;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 1em; }

.type, pre code.type, .code, p code, code.ocaml {
  color: #a24d25;
  font-family: 'Fira Mono', monospace; }
  .type a, pre code.type a, .code a, p code a, code.ocaml a {
    color: #a24d25; }

code.ocaml a {
  color: #602e17; }

code {
  font-family: 'Fira Mono', monospace; }

code.code {
  background: #c5dbe68f; }

pre code.code {
  background: none; }

pre.sourceCode {
  padding: 1em; }

.paramstable {
  border-style: hidden;
  padding: 5pt 5pt; }

td.typefieldcomment {
  font-size: smaller; }
  td.typefieldcomment p {
    margin: 0; }

div.sig_block {
  margin-left: 2em; }

h1, h2, h3 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500; }

h1 {
  font-size: 20pt;
  padding-top: 7px;
  color: #7b6963; }
  h1 a {
    color: black; }

h2 {
  font-size: 18pt;
  font-weight: 450;
  margin-top: 2.2ex;
  margin-bottom: -5px;
  padding: 2px;
  color: #43849d;
  border-top: 1px solid #43849d; }

h3 {
  font-size: 16pt;
  margin-top: 30px;
  margin-bottom: 2px;
  padding: 2px;
  border-top: 1px solid #43849d;
  color: #43849d;
  display: table; }

h4, h5, h6 {
  font-size: 14pt;
  margin-top: 5px;
  margin-bottom: 2px;
  color: #7b6963;
  padding: 2px; }

h5, h6 {
  text-align: right;
  font-size: inherit;
  font-weight: normal;
  margin: 0; }

div.h7 {
  font-size: 20pt;
  border: 1px solid #000000;
  margin-top: 5px;
  margin-bottom: 2px;
  background-color: #E0FFFF;
  padding: 2px; }

div.h8 {
  font-size: 20pt;
  border: 1px solid #000000;
  margin-top: 5px;
  margin-bottom: 2px;
  text-align: center;
  background-color: #F0FFFF;
  padding: 2px; }

a {
  color: #43849d;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

pre, .typetable {
  background-color: #c5dbe68f;
  margin-bottom: 4px;
  padding: 1em;
  border-radius: 1em;
  font-family: 'Fira Mono', monospace; }

table.typetable {
  margin-top: -4px;
  padding-top: 4px; }

pre {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  max-width: 100%;
  overflow: auto;
  margin-top: 1em;
  white-space: pre-wrap; }
  pre a {
    color: black; }

pre.verbatim, pre.codepre {
  border: 1px solid darkgrey; }

.indextable {
  border: 1px #ddd solid;
  border-collapse: collapse; }

.indextable td, .indextable th {
  border: 1px #ddd solid;
  min-width: 80px; }

.indextable td.module {
  background-color: rgba(74, 166, 157, 0.3);
  padding-left: 2px;
  padding-right: 2px; }

.indextable td.module a {
  color: #4E6272;
  text-decoration: none;
  display: block;
  width: 100%; }

.indextable td.module a:hover {
  text-decoration: underline;
  background-color: transparent; }

.deprecated {
  color: #888;
  font-style: italic; }

.indextable tr td div.info {
  margin-left: 2px;
  margin-right: 2px; }

ul.indexlist {
  margin-left: 0;
  padding-left: 0; }

ul.indexlist li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }

@media only screen and (max-width: 767px) {
  h1, h2, h3, h4, h5, h6, h7, h8, h9 {
    text-align: center; } }
/* Graphes */
#container, div.caption {
  width: 95%;
  margin-left: auto;
  margin-right: auto; }

svg {
  background: #c5dbe68f; }
  svg > g > polygon {
    fill: none; }
  svg ellipse {
    stroke: #4aa69d;
    fill: rgba(74, 166, 157, 0.3);
    transition: all 0.2s ease; }
  svg text {
    font: 13pt "Roboto Slab", sans-serif;
    fill: black; }
  svg g.edge path {
    stroke: #a24d25;
    transition: all 0.2s ease;
    stroke-width: 1px; }
  svg g.edge polygon {
    stroke: #d1371f;
    fill: #d1371f;
    transition: all 0.2s ease; }
  svg g.edge:hover path {
    stroke: #d1371f; }
  svg g.edge:hover path, svg g.edge:hover polygon {
    stroke-width: 5px; }
  svg g.edge.from path {
    stroke: #4aa69d; }
  svg g.edge.from polygon {
    stroke: #4aa69d;
    fill: #4aa69d; }
  svg g a:hover ellipse {
    stroke-width: 7px; }

div.float, div.figure {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 400px; }
  div.float img, div.figure img {
    max-width: 100%; }
  div.float .caption, div.float .figcaption, div.figure .caption, div.figure .figcaption {
    text-align: center;
    margin-top: -2em; }

td img {
  width: 100%; }

.info-desc p {
  margin-top: 0; }

.top .info-desc p {
  margin-top: 1em; }

/*# sourceMappingURL=style.css.map */
